<section class="vh-100 gradient-custom">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-orange text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 ">

            <h1 class="text-center">Registrar Usuario</h1>
            <p class="text-center ">'*' campos obligatorios</p>

            <form [formGroup]="userForm">
              <div class="form-mov" class="row g-3">


                <div class="col-md-6">
                  <label for="inputusername" class="form-label">Nombre de usuario*</label>
                  <input type="text" class="form-control" id="inputusername" formControlName="username" required>
                  <div *ngIf="userForm.get('username')?.touched && userForm.get('username')?.invalid">
                    <small class="text-danger" *ngIf="userForm.get('username')?.errors?.['required']">Nombre de usuario
                      obligatorio.</small>
                    <small class="text-danger" *ngIf="userForm.get('username')?.errors?.['minlength']">El nombre
                      de usuario debe tener al menos 5 caracteres.</small>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Contraseña*</label>
                  <input type="password" class="form-control" id="inputPassword4" formControlName="password" required>
                  <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
                    <small class="text-danger" *ngIf="userForm.get('password')?.errors?.['required']">Contraseña
                      obligatoria.</small>
                    <small class="text-danger" *ngIf="userForm.get('password')?.errors?.['minlength']">La contraseñadebe
                      contener 6 caracteres como mínimo.</small>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label">Email*</label>
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Usuario@prueba.com"
                    formControlName="email" required>
                  <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
                    <small class="text-danger" *ngIf="userForm.get('email')?.errors?.['required']">Email
                      obligatorio.</small>
                    <small class="text-danger" *ngIf="userForm.get('email')?.errors?.['email']">Formato
                      incorrecto.</small>
                  </div>
                </div>

                <br>
                <div class="col-12 d-flex justify-content-center">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 "
                    type="submit" (click)="createUser()">Crear usuario</button>
                  @if (formvalid) {
                  Usuario creado
                  }
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
